*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFC4D1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFAAC4;
    padding: 1rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.img img{
    height: 100%;
    width: 100%;
}
.img{
    height: 10vh;
}
li{
    background-color: #FFE8E1;
    border-radius: 1rem;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
} 
.card {
    background-color: #FFE8E1;
    width: 500px;
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.card__img{
    width: 100%;
     
   border-radius: 0.8rem;

}
.texto_portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 60%;
}
h1{
    font-size: 70px;
}
.description{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    background-color: #FFE8E1;
    border-radius: 1rem;
}
.cosmetics__img{
    width:100%;
}
.boton button{
    padding: 10px;
    margin: 30px;
    border-radius: 1rem;
    background-color: palevioletred;
    
}
button:hover{
    background-color: #fbd3e9;
}
.botones_hero{
    display: flex;
    justify-content: space-around;

}
.parrafos{
padding: 50px;
margin-top: 30px;
font-size: 20px;
background-color: #FFE8E1;
}