*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EFC7E5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E18AD4;
    padding: 1rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.img img{
    height: 100%;
    width: 100%;
}
.img{
    height: 20vh;
}
li{
    background-color: #CCF5AC;
    border-radius: 1rem;
    padding: 10px;
}